@font-face{
    font-family: webFont;
    src: url(font.ttf) ;
  }
  
@font-face{
    font-family: Genshin;
    src: url(genshin.ttf) ;
}
  
@font-face{
    font-family: Hkrpg;
    src: url(hkrpg.ttf) ;
}
  
@font-face{
    font-family: ZZZ;
    src: url(zzz.ttf) ;
}
  
@font-face{
    font-family: ZZZ1.1;
    src: url(zzz-1.1.ttf);
}

@media (max-width: 600px) {
    h1 {
      font-size: 3em; /* 设定一个小屏幕的最大字体大小 */
    }
  }
  
html{
    font-family: webFont, sans-serif;
    
}


a{
    font-size:150%;
    text-decoration: none; /* 去除下划线 */
    color: inherit; /* 继承父元素的字体颜色 */
}
  

.appcontent{
  margin: 0;
  font-size: 3rem;
}

.appicon{
  height: 15%;
  width: 15%;
}

.appdetails{
  padding-left: 80px;
  margin: 0;
  padding-top: 15px;
  font-size: 2.5rem;
}

.appbox-first{
  clear: both;
  padding: 20px;
  display: flex;
  margin-top: 200px;
  margin-left: 20px;
  margin-right: 20px;
  align-items: center;
  border-radius: 65px;
  border: 1.5px solid #d1cdcdd7;
}

.appbox{
  clear: both;
  padding: 20px;
  display: flex;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  align-items: center;
  border-radius: 65px;
  border: 1.5px solid #d1cdcdd7;
}

.apptitle{
  font-size: 4.5rem;
  padding-left: 20px;
  margin: 0;
}

.topbar {
  border-bottom: 2px solid #e9e9e9; 
  height: 10rem;
  display: flex;
  width: 100%;
  top: 0px;
  position: fixed;
  z-index: 100;
  background-color: #ffffff;
  border-radius: 70px;
}

.sidebar-button{
  height: 3rem;
  width: 3rem;
  padding: 3rem;
}

#title{
  display: flex;
  font-size:4rem;
  padding: 3rem;
  align-items: center;
  transition: font-size 0.5s; 
}

.sidebar {
  position: fixed;
  top: 10rem;
  bottom: 0;
  left: -50rem; 
  width: 45%;
  background: #ffffff;
  transition: left 0.3s; 
  font-size: 3rem;
  justify-content: center;
  border: 2px solid #d1cdcdd7;
  border-radius: 70px;
  padding: 30px;
  overflow-y: scroll;
}

#sidebar-list{
  list-style-type:none ;
  padding-left: 0;
  margin-bottom: 0;
  
}

#sidebar-list li{
  padding: 2rem 0px;
  width:100%;
  display: flex;
  justify-content: center;
  border: 2px solid #e9e9e9;
  margin-bottom: 50px;
  border-radius: 70px;
  background: whitesmoke;
}

#sidebar li:hover {
  transition:all 0.25s;
  background-color: #e4e4e4;
} 

.close {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* 列表默认隐藏 */
#fontList {
  display: block;
 
  background-color: #ffffff;
  min-width: 160px;
  
  z-index: 1;
  opacity: 0; /* 初始状态为透明 */
  transition: opacity 0.5s ease;
  border: 2px solid #d1cdcdd7;
}

/* 列表项 */
#fontList li {
  padding:12px 16px;
}

/* 鼠标悬停效果 */
#fontList li:hover {
  transition:all 0.5s;
  background-color: #e4e4e4;
}

#fontList{
  list-style-type:none ;
  border-radius: 90px;
  padding-left: 0;
  text-align: center;
  overflow: hidden;
  
}

#fontList ul {
  list-style-type: none;
  padding-left: 0; 
}

/* 列表需要显现时，添加类 */
#fontList.visible {
  display: block;
  opacity: 1;
  
}
 
.special-font  {
  font-size: 3.5rem !important;
}